In [1]:
import pandas as pd
import asyncio
from playwright.async_api import async_playwright
playwright = await async_playwright().start()
browser = await playwright.chromium.launch(headless = False)
page = await browser.new_page()

In [2]:
url = "https://ews.tropmet.res.in/"

In [3]:
await page.goto(url, wait_until="networkidle", timeout=100000)
await page.locator("div.slideshow-container").wait_for()

In [4]:
All = await page.locator("text tspan.highcharts-text-outline").all_text_contents()

In [5]:
All

['379\u200b',
 '345\u200b',
 '160\u200b',
 '210\u200b',
 '159\u200b',
 '307\u200b',
 '259\u200b',
 '352\u200b',
 '90\u200b',
 '73\u200b',
 '64\u200b',
 '80\u200b',
 '376\u200b',
 '334\u200b',
 '114\u200b',
 '165\u200b',
 '167\u200b',
 '155\u200b']

In [6]:
print(All[0], All[2], All[4], All[6], All[8], All[10], All[12], All[14], All[16])

379​ 160​ 159​ 259​ 90​ 64​ 376​ 114​ 167​

In [7]:
major_cities_AQI = {}

In [8]:
major_cities_AQI['Delhi'] = All[0]
major_cities_AQI['Pune'] = All[2]
major_cities_AQI['Mumbai'] =  All[4]
major_cities_AQI['Kolkata'] = All[6]
major_cities_AQI['Bengalore'] = All[8]
major_cities_AQI['Lucknow'] = All[10]
major_cities_AQI['Patna'] = All[12]
major_cities_AQI['Hyderabad'] = All[14]
major_cities_AQI['Ahmedabad'] = All[16]

In [9]:
major_cities_AQI

{'Delhi': '379\u200b',
 'Pune': '160\u200b',
 'Mumbai': '159\u200b',
 'Kolkata': '259\u200b',
 'Bengalore': '90\u200b',
 'Lucknow': '64\u200b',
 'Patna': '376\u200b',
 'Hyderabad': '114\u200b',
 'Ahmedabad': '167\u200b'}

In [10]:
df = pd.DataFrame(major_cities_AQI, index=["AQI"])

In [11]:
df

    Delhi  Pune Mumbai Kolkata Bengalore Lucknow Patna Hyderabad Ahmedabad
AQI  379​  160​   159​    259​       90​     64​  376​      114​      167​

In [12]:
df.to_csv("major_cities_aqi.csv", index=False)

In [13]:
pd.read_csv("major_cities_aqi.csv")

  Delhi  Pune Mumbai Kolkata Bengalore Lucknow Patna Hyderabad Ahmedabad
0  379​  160​   159​    259​       90​     64​  376​      114​      167​