In [5]:
import pandas as pd
import os
import pytz
from datetime import datetime

In [6]:
time_zone = pytz.timezone('Asia/Kolkata')
date = datetime.now(time_zone).strftime("%Y%m%d")
date

'20250601'

In [12]:
date = '20250531'

In [14]:
df = pd.read_csv(f'daily_aqi_{date}.csv')
df

,City,Air_Quality,Index_Value,Prominent_Pollutant,No._of_Stations_Participated_Total_Stations
0,Bikaner,Poor,246,PM\n10,1/1
1,Jaisalmer,Poor,246,PM\n10,1/1
2,Noida,Poor,242,"O , PM , PM\n3 10 2.5",4/4
3,Delhi,Poor,241,"O , PM , PM\n3 10 2.5",38/39
4,Brajrajnagar,Poor,235,O\n3,1/1
...,...,...,...,...,...
207,Coimbatore,Good,26,"PM , PM\n10 2.5",2/2
208,Madikeri,Good,26,PM\n10,1/1
209,Shillong,Good,25,PM\n2.5,1/2
210,Palkalaiperur,Good,24,PM\n10,1/1
211,Sivasagar,Good,18,PM\n2.5,1/1

In [ ]:
df