In [17]:
import pandas as pd
import os
import pytz
from datetime import datetime 
import re

In [82]:
time_zone = pytz.timezone('Asia/Kolkata')
date = datetime.now(time_zone).strftime("%Y%m%d")
date

'20250601'

In [85]:
date = '20250531'

In [110]:
df = pd.read_csv(f'daily_aqi_{date}.csv')
df

,City,Air_Quality,Index_Value,Prominent_Pollutant,No._of_Stations_Participated_Total_Stations
0,Bikaner,Poor,246,PM\n10,1/1
1,Jaisalmer,Poor,246,PM\n10,1/1
2,Noida,Poor,242,"O , PM , PM\n3 10 2.5",4/4
3,Delhi,Poor,241,"O , PM , PM\n3 10 2.5",38/39
4,Brajrajnagar,Poor,235,O\n3,1/1
...,...,...,...,...,...
207,Coimbatore,Good,26,"PM , PM\n10 2.5",2/2
208,Madikeri,Good,26,PM\n10,1/1
209,Shillong,Good,25,PM\n2.5,1/2
210,Palkalaiperur,Good,24,PM\n10,1/1
211,Sivasagar,Good,18,PM\n2.5,1/1

In [111]:
date = pd.to_datetime(date, format="%Y%m%d").strftime(format="%Y-%m-%d")

In [118]:
df1 = pd.read_csv('daily_aqi_20250601.csv')
df1

,City,Air_Quality,Index_Value,Prominent_Pollutant,No._of_Stations_Participated_Total_Stations,State
0,Bikaner,Poor,276,PM\n10,1/1,Rajasthan
1,Churu,Poor,253,PM\n10,1/1,Rajasthan
2,Jaisalmer,Poor,234,PM\n10,1/1,Rajasthan
3,Nagaur,Poor,219,PM\n10,1/1,Rajasthan
4,Barmer,Poor,211,PM\n10,1/1,Rajasthan
...,...,...,...,...,...,...
210,Madikeri,Good,31,PM\n10,1/1,Karnataka
211,Thiruvananthapuram,Good,30,PM\n10,1/2,Kerala
212,Coimbatore,Good,29,PM\n2.5,1/2,Tamil Nadu
213,Chikkaballapur,Good,26,PM\n2.5,1/1,Karnataka
214,Aizawl,Good,6,PM\n10,1/1,Mizoram

In [112]:
df1 = '20250601'

In [113]:
date1 = pd.to_datetime(date1, format="%Y%m%d").strftime(format="%Y-%m-%d")

In [120]:
df.columns = df.columns.str.replace('Air_Quality', f'Air_Quality_{date}').str.replace('Index_Value', f'Index_Value_{date}')

In [121]:
df1.columns = df1.columns.str.replace('Air_Quality', f'Air_Quality_{date1}').str.replace('Index_Value', f'Index_Value_{date1}')

In [122]:
df_five = pd.concat([df, df1]).reset_index(drop=True)
df_five

,City,Air_Quality_2025-05-31,Index_Value_2025-05-31,Prominent_Pollutant,No._of_Stations_Participated_Total_Stations,Air_Quality_2025-06-01,Index_Value_2025-06-01,State
0,Bikaner,Poor,246.0,PM\n10,1/1,NaN,NaN,NaN
1,Jaisalmer,Poor,246.0,PM\n10,1/1,NaN,NaN,NaN
2,Noida,Poor,242.0,"O , PM , PM\n3 10 2.5",4/4,NaN,NaN,NaN
3,Delhi,Poor,241.0,"O , PM , PM\n3 10 2.5",38/39,NaN,NaN,NaN
4,Brajrajnagar,Poor,235.0,O\n3,1/1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
422,Madikeri,NaN,NaN,PM\n10,1/1,Good,31.0,Karnataka
423,Thiruvananthapuram,NaN,NaN,PM\n10,1/2,Good,30.0,Kerala
424,Coimbatore,NaN,NaN,PM\n2.5,1/2,Good,29.0,Tamil Nadu
425,Chikkaballapur,NaN,NaN,PM\n2.5,1/1,Good,26.0,Karnataka
426,Aizawl,NaN,NaN,PM\n10,1/1,Good,6.0,Mizoram

In [ ]:
df_five